.lots__look-more-link {
    margin: 30px 0 0 40px;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}